/* clean index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}
